/***************************/
/*   Glyphicons Halflings  */
/***************************/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('assets/fonts/glyphicons/glyphicons-halflings-regular.eot');
  src: url('assets/fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'),
       url('assets/fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'),
       url('assets/fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'),
       url('assets/fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/***************************/
/*         Roboto          */
/***************************/
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 100;
 src: local('Roboto Thin'), local('Roboto-Thin'), url(#{$fonts-root}google/Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: italic;
 font-weight: 100;
 src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(#{$fonts-root}google/Roboto/Roboto-ThinItalic.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 300;
 src: local('Roboto Light'), local('Roboto-Light'), url(#{$fonts-root}google/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: italic;
 font-weight: 300;
 src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(#{$fonts-root}google/Roboto/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 src: local('Roboto Regular'), local('Roboto-Regular'),  url(#{$fonts-root}google/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: italic;
 font-weight: 400;
 src: local('Roboto Italic'), local('Roboto-Italic'),  url(#{$fonts-root}google/Roboto/Roboto-Italic.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 src: local('Roboto Medium'), local('Roboto-Medium'), url(#{$fonts-root}google/Roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: italic;
 font-weight: 500;
 src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(#{$fonts-root}google/Roboto/Roboto-MediumItalic.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 src: local('Roboto Bold'), local('Roboto-Bold'), url(#{$fonts-root}google/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: italic;
 font-weight: 700;
 src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(#{$fonts-root}google/Roboto/Roboto-BoldItalic.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 900;
 src: local('Roboto Black'), local('Roboto-Black'), url(#{$fonts-root}google/Roboto/Roboto-Black.ttf) format('truetype');
}
@font-face {
 font-family: 'Roboto';
 font-style: italic;
 font-weight: 900;
 src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(#{$fonts-root}google/Roboto/Roboto-BlackItalic.ttf) format('truetype');
}

