.card{
   box-shadow: 0 0 0 #fff !important;
   border: 1px solid #ddd;
}
.card-header{
 padding:10px 5px 15px 5px !important;
}
table{
    font-size: 12px;
    margin-bottom: 0 !important;
}
th{
  border-bottom: 0 !important;
  border-right: 1px solid #ddd;
}
td{
   border-right: 1px solid #ddd;
}

.table{
     
     .action{
         font-size: 20px;
     }
}
 .table-block{
    padding: 0 !important;
}
.totalItems{
    margin-top: 0;
    label{
    font-size: 12px;
    padding-top: 6px;
    padding-right: 20px;
    color: #707070;
    }
    select{
      font-size: 12px !important;
      height: 29px !important;
      margin-bottom: 10px !important;
      width: 65px !important;
      padding: 6px 5px;
    color: #3a3f51;
    background-color: #fff;
    background-image: none;
    }
    input{
      font-size: 12px !important;
      height: 29px !important;
      margin-bottom: 10px !important;
      width: 65px !important;
      padding: 6px 5px;
      width: 30% !important;
    }
}
.action{
  .action-button{
    border: 0 !important;
    background: transparent;
    float: left;
    cursor: pointer;
  }
}
tfoot{
  background-color: #f9f9f9 !important;
}