.zeroPadding{
    padding: 0px !important;
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    text-align:center;
}
.custom{
    cursor: pointer;
    color: #22a1e4 !important;
}
.table td a.custom:hover {
    color: blue !important;
    text-decoration: underline !important;
}
div#userDetail td {
    border: 0;
}
.detailBTN{
    // margin-left: 72%;
    width: 77%;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 14px;
    cursor: pointer;
    color: #fff;
    background: #009688;
    height: 27px;
}
.cuSearch {
    // margin-left: 50%;
    float: right;
    // margin-right: 22px;
    width: 180px;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 20px 7px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.chatList .shadowBox .listChat {
    padding: 10px;
    border: 1px solid gainsboro;
    margin: 10px 0px;
    display: inline-block;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #b5b5bf;
    background: rgba(0, 0, 0, 0.07);
}
#chatPopup .modal-body {
    max-height: 600px;
}

img.profileImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50px;
}