.zeroPadding{
    padding: 0px !important;
}
div#userDetail td {
    border: 0;
}
.custom{
    cursor: pointer;
    color: #22a1e4 !important;
}
.table td a.custom:hover {
    color: blue !important;
    text-decoration: underline !important;
}
.item{
    display: none;
}
.item.active{
    display: inline-block;
}
.modal-lg {
    max-width: 1100px;
}
.item td{
    border: 0;
}
.allImg{
    margin-top: 3%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 330px;
  }
img.img-responsive.imgSize {
    width: 109px;
    height: 109px;
    padding-right: 0px;
    border: 1px solid gainsboro;
    cursor: pointer;
    margin-bottom: 10px;
}
img.profileImg {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50px;
}
.tableCnt{
    margin: 12px 0px 0px -11px;
    overflow: auto;
    max-height: 378px;
}
img.myImage {
    width: 100%;
    height: 435px;
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    text-align:center;
}
.custom{
    cursor: pointer;
    color: #22a1e4 !important;
}
.table td a.custom:hover {
    color: blue !important;
    text-decoration: underline !important;
}