<title>Password reset - MobiVenta</title>

<div class="allRegisterList col-xs-12 zeroPadding">
  <div class="container" *ngIf="!resetEmail">
    <div class="registerLoginBox boxShadowList text-center col-xs-12 padMore">
      <h1 class="colorGray">Forgot Password?</h1>
      &nbsp;
      <div class="col-xs-12 zeroPadding form-group">
        <label class="labeltext inputClass" style="margin-left: -48%;">Email :</label>
        <span class="">
          <input type="text" name="" [(ngModel)]="email" #re (keyup)="emailValidation(re.value)" (change)="emailValidation(re.value)" class="inputClass" placeholder="E-mail address">
          <h5 class="errorMsg" *ngIf="email_Error">Please provide a valid email address...</h5>
        </span>
      </div>
      <div class="errorMsg col-xs-12" *ngIf="registerErrMsg">{{registerErrMsg}}</div>
      <div class="submitLogin col-xs-12 zeroPadding form-group" (click)="resetPassword()">
        <div class="loader loginPage loaderGif" *ngIf="loaderButton"></div>
        <button type="button" class="btn btnSubmit" [disabled]="!(emailList && email)">Submit</button>
      </div>
      <div class="submitLogin col-xs-12 zeroPadding form-group">        
        <button type="button" class="btn btnSubmit cancelButton" routerLink="../login">Cancel</button>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="resetEmail">
    <h1 class="">We have emailed you your login info!</h1>
    <br>
    <p>Please check your spam folder if you do not see an email.</p>
  </div>
</div>